@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: 'Monsterrat', sans-serif;
}
@media (max-width: 600px) {
    .navbar ul li a {
        display: flex;
        align-items: center;
    }

    .navbar ul li a span {
        display: none;
    }

    .navbar ul li a i {
        font-size: 24px;
    }
    .navbar{
        width: 100%;

    }
}